html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.sketch-container {
  display: flex;
  align-items: start;
}

.controls-container, .textbox {
  overflow-y: auto;
  padding: 10px;
  margin-left: 20px; /* Space between elements */
  max-height: 100%; /* Adapt to parent container's height */
}

/* Style for the sketch containers */
#container1, #container2 {
  flex-grow: 1;
  /* Additional styles if necessary */
}

/* Styling for elements inside controls-container */
.controls-container label,
.controls-container input[type="range"] {
  display: block; /* Make each control occupy its own line */
  margin: 5px 0; /* Spacing between controls */
}

.textbox {
  width: 200px; /* Adjust as needed */
  /* Additional textbox styles */
}

.textbox h1 {
  font-size: 1.5em; /* Adjust heading size as needed */
}

.textbox p {
  font-size: 1em; /* Adjust paragraph text size as needed */
}

.textbox a {
  color: blue; /* Style for hyperlinks */
  text-decoration: underline;
}
