html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
  
.controls-container {
    overflow-y: auto;
    padding: 10px;
    margin: 0; /* Resetting margin */
    /* Set an initial max-height if needed, or make it depend on the sketch's height */
}

.sketch-container {
    display: flex;
    align-items: flex-start; /* Align items to the start of the flex container */
}

/* Resetting default margins for elements inside controls-container */
.controls-container label,
.controls-container input[type="range"] {
    margin: 5px 0; /* Adjust as needed */
}

.textbox {
  padding: 10px;
  margin-left: 20px; /* Space between the sketch and the textbox */
  /* Adjust width, font size, and other styles as needed */
  width: 200px; /* Example width, adjust as needed */
}

.textbox h1 {
  font-size: 1.5em; /* Adjust heading size as needed */
}

.textbox p {
  font-size: 1em; /* Adjust paragraph text size as needed */
}

.textbox a {
  color: blue; /* Style for hyperlinks */
  text-decoration: underline;
}