html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
  .sketch-container {
    display: flex;
    align-items: start;
}

.controls-container {
    overflow-y: auto;
    padding: 10px;
}


/* Additional styling for aesthetics (optional) */
.controls-container label,
.controls-container input[type="range"] {
    display: block; /* Make each control occupy its own line */
    margin-bottom: 10px; /* Spacing between controls */
}
